In [1]:
import pandas as pd

In [3]:
generated_titles = pd.read_csv('headlines.txt', header = None)
generated_titles.head()

                                               0
0               Resolute continues Syama ramp-up
1      Paragon Care acquiring Tender Living Care
2        WorleyParsons acquiring CNEC Engenharia
3  REPLACE: MIL Resources acquiring Titan Metals
4         Orica acquiring Strata Control Systems

In [5]:
generated_titles = generated_titles.rename(columns = {0: 'Headline'})
generated_titles.head()

                                        Headline
0               Resolute continues Syama ramp-up
1      Paragon Care acquiring Tender Living Care
2        WorleyParsons acquiring CNEC Engenharia
3  REPLACE: MIL Resources acquiring Titan Metals
4         Orica acquiring Strata Control Systems

In [6]:
generated_titles.to_csv('headlines.csv')