In [1]:
import pandas as pd

In [3]:
generated_titles = pd.read_csv('headlines.txt', header = None)
generated_titles.head()

                                               0
0               Resolute continues Syama ramp-up
1      Paragon Care acquiring Tender Living Care
2        WorleyParsons acquiring CNEC Engenharia
3  REPLACE: MIL Resources acquiring Titan Metals
4         Orica acquiring Strata Control Systems

In [5]:
generated_titles = generated_titles.rename(columns = {0: 'Headline'})
generated_titles.head()

                                        Headline
0               Resolute continues Syama ramp-up
1      Paragon Care acquiring Tender Living Care
2        WorleyParsons acquiring CNEC Engenharia
3  REPLACE: MIL Resources acquiring Titan Metals
4         Orica acquiring Strata Control Systems

In [6]:
generated_titles.to_csv('headlines.csv')

## Training Headlines

In [2]:
train_titles = [
    'Pure Storage acquires data service platform Portworx for $370M',
    'GitHub acquired by Microsoft: big win or risky gamble?',
    'NortonLifeLock\'s Recommended Merger with Avast Cleared by U.S. Department of Justice',
    'Sundar Pichai Appointed CEO of Google',
    'General Electric buys small Michigan-based tech startup',
    'Slack purchase: what does this mean for the future of CRM?',
    'Facebook Twitter Google Share RSS Feed'
]

train_acq_status = [0, 0, 1, 2, 0, 0, 2]
train_c1 = [
    'Pure Storage',
    'Microsoft',
    'NortonLifeLock',
    '',
    'General Electric',
    '',
    '',
]
train_c2 = [
    'Portworx',
    'GitHub',
    'Avast',
    '',
    '',
    'Slack',
    '',
]

train = pd.DataFrame({
    'Title': train_titles, 
    'Acq_Status': train_acq_status, 
    'Company 1': train_c1, 
    'Company 2': train_c2
})
train.to_csv('../survey_data/selected_training.csv')
train.head()

,Title,Acq_Status,Company 1,Company 2
0,Pure Storage acquires data service platform Po...,0,Pure Storage,Portworx
1,GitHub acquired by Microsoft: big win or risky...,0,Microsoft,GitHub
2,NortonLifeLock's Recommended Merger with Avast...,1,NortonLifeLock,Avast
3,Sundar Pichai Appointed CEO of Google,2,,
4,General Electric buys small Michigan-based tec...,0,General Electric,

## Training Test Headlines

In [3]:
# 0 - acquisition
# 1 - merger
# 2 - neither / unclear / not a headline

train_test_titles = [
    'Nokia to acquire leading consumer email and instant messaging provider OZ Communications',
    'Haemonetics concludes successful tender for Global Med Technologies',
    'Filmakers Library Joins Forces with Alexander Street Press',
    'Nuance Closes Acquisition of BeVocal',
    'Kensey Nash buys Nerites for $20M',
    'LiveIntent Adds Jason Pressman to Board, Raises $8 million',
    'One year after the incident: was it all worth it?',
    'Follow Reuters      Facebook     Twitter     RSS     YouTube    Pictures Visitors run away from waves from a tidal bore as it surges past a barrier on the banks of Qiantang River, in Hangzhou Zhejiang province, August 25, 2013. REUTERS/Stringer Reuters P',
    'myOpenID Affiliate Blog Post',
    'Mid Penn Bancorp receives approval for merger with Riverview'
]

acq_status = [
    0, 0, 1, 0, 0, 2, 2, 2, 2, 1
]

acquirer = [
    'Nokia', 'Haemonetics', 'Filmakers Library', 'Nuance', 'Kensey Nash',
    '', '', '', '', 'Mid Penn Bancorp'
]

acquired = [
    'OZ Communications', 'Global Med Technologies', 'Alexander Street Press',
    'BeVocal', 'Nerites', '', '', '', '', 'Riverview'
]

train_test = pd.DataFrame({
    'Title': train_test_titles, 
    'Acq_Status': acq_status, 
    'Company 1': acquirer, 
    'Company 2': acquired
})
train_test.to_csv('../survey_data/selected_training_test.csv')
train_test.head()

,Title,Acq_Status,Company 1,Company 2
0,Nokia to acquire leading consumer email and in...,0,Nokia,OZ Communications
1,Haemonetics concludes successful tender for Gl...,0,Haemonetics,Global Med Technologies
2,Filmakers Library Joins Forces with Alexander ...,1,Filmakers Library,Alexander Street Press
3,Nuance Closes Acquisition of BeVocal,0,Nuance,BeVocal
4,Kensey Nash buys Nerites for $20M,0,Kensey Nash,Nerites

## Attention Check Headlines

In [4]:
selected_att = pd.read_csv('../survey_data/selected_att.csv').drop(columns = 'Unnamed: 0')

att_acq_status = list(selected_att['Acq_Status'])
att_company_1 = list(selected_att['Company 1'])
att_company_2 = list(selected_att['Company 2'])
att_titles = list(selected_att['Title'])

# modify titles
att_titles[0] = 'Scientific Conservation Buys Calix For $12.9M, Changes Name'
att_titles[7] = 'Havok Acquires 3D Game Engine Provider Trinigy'
att_titles[9] = 'Bentley Acquires AFL Microchip to Extend AutoPIPE\'s Market Leadership in High-pressure Plant Environments'
att_titles[19] = 'Sundrop Purchases Bay Area Startup Pacifica for $20M'
att_titles[34] = 'How Viral Startups are Making Platform Effects Work for Them'

# modify company 1 names
att_company_1[4] = ''
att_company_1[19] = 'Sundrop'

# modify company 2 names
att_company_2[0] = ''
att_company_2[19] = 'Pacifica'

# modify acq status codes
att_acq_status[14] = 1
att_acq_status[16] = 1
att_acq_status[17] = 1
att_acq_status[20:30] = [2 for i in range(20, 30)]
att_acq_status[30:35] = [2 for i in range(30, 35)]
att_acq_status[35:] = [2 for i in range(35, 40)]

l = 30
h = 40
print(att_titles[l:h])
print(att_company_1[l:h])
print(att_company_2[l:h])
print(att_acq_status[l:h])

['3 Rules You Must Follow If You Want Your Company to Be Exceptional', 'urlShort breaks 1,000 shortened URLs', 'Pfizer ups ante on Santaris RNA discovery deal with $614M pact', 'Newly AOL-Free Bebo Adds Hi5, Oodle Executives', 'How Viral Startups are Making Platform Effects Work for Them', 'One Two Trade Forex', 'Top 50 Article Directories List', 'EditMe - Reviews by PC Magazine', 'Via @AwesomeTouch on Twitter', 'Vinnex International Championship 2010']
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [5]:
selected_att = pd.DataFrame({
    'Title': att_titles, 
    'Acq_Status': att_acq_status, 
    'Company 1': att_company_1, 
    'Company 2': att_company_2
})
selected_att.to_csv('../survey_data/selected_att.csv')
selected_att.head()

,Title,Acq_Status,Company 1,Company 2
0,"Scientific Conservation Buys Calix For $12.9M,...",0,Scientific Conservation,
1,Google Buys Sketch Up,0,Google,Sketch Up
2,"Rentrak buys Nielsen EDI, consolidating box of...",0,Rentrak,Nielsen EDI
3,RBC To Buy BlueBay For US$1.5B,0,RBC,BlueBay
4,Startup Acquires Web Host eNom,0,,eNom